@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown.dropdown-center.dropdown-right .dropdown-content,
.dropdown-center.dropdown-left .dropdown-content {
  @apply top-1/2 transform -translate-y-1/2;
}

html {
  width: 100vw;
}
